@font-face {
    font-family: "Myriad Pro Regular";
    src: url("assets/fonts/Myriad_Pro_Regular.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro SemiExt";
    src: url("assets/fonts/Myriad_Pro_SemiExt.woff") format("woff");
}

.container {
    max-width: 1920px;
    /*width: 100%;*/
    /*padding: 0 10px;*/
    margin: 0 auto;
    background-color: #00aa4b;
}

.nav {
    min-height: 48px;
    padding: 0 188px 0 189px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

@media screen and (max-width: 1653px) {
    .nav {
        justify-content: center;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
    }

    .nav-catalog {
        justify-content: center;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
    }

    .nav-restor::before {
        display: none;
    }

    .nav-service::before {
        display: none;
    }
}

@media screen and (max-width: 1592px) {
    .nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /*.nav-catalog {*/
    /*    justify-content: center;*/
    /*    !*padding-top: 10px;*!*/
    /*    !*padding-bottom: 10px;*!*/
    /*}*/
}

@media screen and (max-width: 1451px) {
}

@media screen and (max-width: 767px) {
    .nav {
        flex-direction: column;
        padding: 17px 15px 10px;
        overflow-wrap: anywhere;
    }
}

.nav_item {
    text-decoration: none;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.nav_item-wrapper {
    background-color: #00aa4b;
    max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav_item-wrapper::after {
    content: "Скопировать";
    width: 163px;
    height: 45px;
    background-color: rgb(35, 35, 35);
    box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.49);
    border-radius: 50px;
    position: absolute;
    top: 52px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

/*.nav_item-wrapper::after:hover {*/
/*    display: block;*/
/*}*/

.nav_item-wrapper:active {
    background-color: #33bb6f;
}

.nav_item-wrapper:active::after {
    display: block;
    display: flex;
    align-items: center;
}

.nav_item-mail {
    min-height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
}

/*.nav_item-mail:hover {*/
/*    !*background-color: rgb(255, 255, 255);*!*/
/*    !*opacity: 0.2;*!*/
/*}*/

.nav_item-phone {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-restor::before {
    content: "";
    margin-right: 29px;
    width: 1px;
    height: 28px;
    opacity: 0.25;
    box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.4);
    border: solid 1px #fff;
    background-color: #d5bee7;
}

.nav-service::before {
    content: "";
    margin-right: 28px;
    width: 1px;
    height: 28px;
    opacity: 0.25;
    box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.4);
    border: solid 1px #fff;
    background-color: #d5bee7;
}

.nav-catalog {
    min-height: 100px;
    padding: 0 188px 0 189px;
    box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
}

.nav_catalog-item {
    color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.search {
    padding: 12px 188px 12px 189px;
    background-color: #e8e7e7;
}

.search_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.search_span {
    /*margin: 0 0 6px 8px;*/
    /*margin-left: 8px;*/
    /*margin-bottom: 6px;*/
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 33px;
    color: #171717;
}