@font-face {
    font-family: "Myriad Pro Regular";
    src: url("assets/fonts/Myriad_Pro_Regular.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro SemiExt";
    src: url("assets/fonts/Myriad_Pro_SemiExt.woff") format("woff");
}

.container {
    max-width: 1920px;
    /*width: 100%;*/
    /*padding: 0 10px;*/
    margin: 0 auto;
    background-color: #00aa4b;
    min-height: 48px;
}

.nav {
    padding: 17px 188px 15px 189px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

@media screen and (max-width: 1652px) {
    .nav-catalog {
        justify-content: center;
    }
}

@media screen and (max-width: 1633px) {
    .nav {
        justify-content: center;
    }

    .nav-restor::before {
        display: none;
    }

    .nav-service::before {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        flex-direction: column;
        padding: 17px 15px 10px;
        overflow-wrap: anywhere;
    }
}

.nav_item {
    text-decoration: none;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

.nav_item-mail {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav_item-phone {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-restor::before {
    content: "";
    margin-right: 29px;
    width: 1px;
    height: 28px;
    opacity: 0.25;
    box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.4);
    border: solid 1px #fff;
    background-color: #d5bee7;
}

.nav-service::before {
    content: "";
    margin-right: 28px;
    width: 1px;
    height: 28px;
    opacity: 0.25;
    box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.4);
    border: solid 1px #fff;
    background-color: #d5bee7;
}

.nav-catalog {
    padding: 9px 188px 11px 189px;
    box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
}

.nav_catalog-item {
    color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
